#app
  position absolute
  left 0
  top 0
  bottom 0
  width 100%
  height 100%
  background url('../images/1-1.jpg') left top / 100% auto
header
  width 148px
  height 296px
  position absolute
  right 80px
  top -25px
  background url('../images/WechatIMG2.png') left top / 100% auto
  span
    position absolute
    bottom 35px
    left 35px
    font-size 26px
    font-weight bold
    color #ff5555
button
  width 173px
  height 84px
  position absolute
  left 50%
  margin-left -87px
  top 800px
  border none
section
  width 526px
  height 465px
  position absolute
  left 80px
  top 200px
