html,body{
  #box{
    width: 420px;
    height: 600px;
    // 默认情况下，webpack 无法处理 CSS 文件中的URL地址，不管是图片还是字体库，只要是URL地址，都处理不了
    background:url('../img/demo.jpg');
    background-size: cover;
  }
  #box2{
    width: 420px;
    height: 600px;
    background:url('../img2/demo.jpg');
    background-size: cover;
  }
}